<!-- Departments Section-->
<section class="pb-0">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-lg-block"><img class="img-fluid" src="../../../assets/images/botox.jpg"
                                            alt="doctor"></div>
      <div class="col-lg-7 pb-5 mb-5">
        <h1 class="text-uppercase"><span>Toxine Botulique (Botox)</span></h1>
        <p>Communément appelée Botox, la toxine botulinique est un médicament. Purifiée, elle est tout d’abord utilisée
          en ophtalmologie puis en neurologie. Mais ces dernières années, c’est en dermatologie que son utilisation se
          développe pour estomper certaines rides d’expression, et dans le traitement de l’hypersudation.
          La toxine botulinique est une substance qui affaiblit et relâche la contraction des muscles. Son emploi permet
          donc une relaxation musculaire.
          La toxine botulinique A a obtenu l’autorisation de mise sur le marché (AMM), depuis Février 2003 pour
          VISTABEL®, Mai 2009 pour AZZALURE®, et septembre 2010 pour BOCOUTURE®.</p>
        <h2>Indications</h2>
        Pour chaque patient, l’appréciation de la toxine botulinique est élaborée par votre dermatologue. Les zones à
        traiter sont généralement les rides du tiers supérieur du visage : rides du lion ou de la glabelle (entre les
        deux sourcils), les rides de la patte d’oie (au coin des yeux) et les rides du front.

        Conformément aux progrès de la science, d’autres zones peuvent être corrigées : rides du nez, relaxation des
        muscles dilatateur des narines, abaisseur de la pointe du nez, muscle de la houppe du menton, cordes platysmales
        du cou…

        Au cours de la consultation, le Docteur Addenet vous donnera toutes les explications sur ces injections et
        calculera la dose de toxine botulinique qui vous est nécessaire.

        <h2>Déroulement des injections</h2>
        Le jour du traitement, merci de venir sans maquillage ou de l’enlever avant les injections. Il n’est pas
        nécessaire d’être à jeun.

        De petites doses de botox sont injectées par des micro-piqûres sous la peau au niveau des muscles visés.
        L’injection est peu douloureuse et ne dure que quelques minutes

        Pour une certaine stabilité du résultat, les injections doivent être répétées 2 fois par an, les 2 premières
        années et par la suite, 1 fois par an. Il est recommandé de ne pas refaire d’injection avant 3 mois pour éviter
        le développement d’une résistance au produit (effet vaccin).

        Si vous présentez une peau épaisse ou une « cassure profonde », le Docteur Addenet vous proposera d’autres
        techniques comme le comblement de rides. Elle adaptera avec vous les doses, les fréquences ainsi que les
        traitements associés. Dans le but d’un suivi, des photos avant / après pourront éventuellement être prises.

        <h2>Précautions</h2>
        Durant les 6 premières heures qui suivent l’injection, il faut éviter la position allongée. Il est également
        recommandé de s’abstenir de toute activité intensive, et de ne pas comprimer les zones traitées (port de casque,
        lunette de piscine…). Afin de ne pas provoquer une diffusion du produit vers des muscles périphériques, vous
        devez éviter toutes mimiques et tout massage sur les régions injectées, ce qui favoriserait des effets non
        désirés. Pour limiter les risques de bleus ou de saignement, vous ne devez pas prendre de médicament qui
        accélère le temps de saignement (aspirine, anti-inflammatoire, vitamine C…), pendant la première semaine de
        l’injection.
        <h2>Résultats</h2>
        Les résultats ne sont pas immédiats. Progressivement, l’action de la toxine botulinique apparaît en 1 à 2
        semaines, et dure de 4 à 6 mois. Les effets sur le visage peuvent être différents, voire asymétriques, avant de
        se stabiliser complètement vers le 15ème jour. Pour un meilleur résultat, les injections doivent être répétées
        (6 à 10 mois), mais pas avant 3 mois pour éviter une résistance au traitement. Si nécessaire, une consultation
        est prévue 2 à 3 semaines après l’injection, pour apprécier le résultat et éventuellement une petite retouche.
        <h2>Contre indications</h2>
        Par mesure de précaution, les femmes enceintes ou allaitantes doivent s’abstenir de toute injection. Les
        personnes présentant des maladies neuromusculaires, une hypersensibilité connue à l’albumine, et une
        inflammation à l’endroit de l’injection ne peuvent pratiquer ce traitement.
        Il existe également des contre indications relatives à certains médicaments : aminosides, curares ciclosporine
        D-penicillamine, chloroquine, anticoagulants.
        <h2>Effets indésirables</h2>
        Les effets indésirables sont très rares, momentanés et peuvent être désagréables.

        – Localement : on peut observer des rougeurs, des ecchymoses, une sensation de tension frontale, de rigidité, de
        douleurs temporaire.
        – Défaut de résultats : on peut retrouver une persistance de ridules, une irrégularité, un haussement de
        sourcil, des froncements. Le Docteur Addenet corrigera rapidement les imperfections, soit par le même procédé
        soit par un comblement de rides par de l’acide hyaluronique.
        – Possibles complications : une descente du sourcil ou de la paupière, des maux de tête

        Dans tous les cas, tous ces petits effets disparraissent rapidement et totalement en 4 à 6 semaines.
        <h2>Prix</h2>
        Le prix dépend du nombre de zones à traiter.
        200 euros la première séance.
      </div>
    </div>

  </div>
</section>

