<!-- Footer -->
<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between "
  >
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-white text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            Centre De Dermatologie & Esthétique Verdinois
          </h6>
          <div >
            <a href="" class="me-10 text-white" style=" margin-left: 20px;">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-white" style=" margin-left: 20px;">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-white"  style=" margin-left: 20px;">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase text-white mb-4">
           Nos préstations
          </h6>
          <p>
            <a href="/esthetique" class="text-reset">ESTHETIQUE</a>
          </p>
          <p>
            <a href="/lasers" class="text-reset">LASERS</a>
          </p>
          <p>
            <a href="/cryolipolyse" class="text-reset">CRYOLIPOLYSE</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Liens utils
          </h6>
          <p>
            <a href="https://www.doctolib.fr/dermatologue/verdun/irina-addenet" class="text-reset">Rendez-vous</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Prix</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Faq</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contacts
          </h6>
          <p><i class="fas fa-home me-3"></i> 1 Av. Garibaldi, 55100 Verdun</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i>03 29 83 93 50</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="/">Beb_web</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
