<!-- Departments Section-->
<section class="pb-0">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-lg-block"><img class="img-fluid" src="../../assets/images/irina.jpg"
                                            alt="doctor"></div>
      <div class="col-lg-7 pb-5 mb-5">
        <h1 class="text-uppercase"><span>Docteur Irina ADDENET</span></h1>
        <br>
        Le Docteur Irina ADDENET est médecin spécialiste en dermatologie esthétique et médicale.
        <br>
        Elle effectue régulièrement des programmes de formation médicale continue dans les domaines de dermatologie
        esthétique et correctrice, dermatologie médicale, et laser. Elle participe également à différents congrès,
        nationaux et internationaux pour rester à la pointe des nouveautés.
        <br><br>
        <h2>CURSUS DE FORMATION ET DIPLOMES</h2>
        <ul class=" mb-5">
          <li>Master 1 Sciences Biologiques et Médicales à l’Université de Nantes (UFR Médecine)</li>
          <li>Diplômée de la faculté de Chirurgie-Dentaire de Nantes.</li>
          <li>Formation à l’Hypnose Clinique (AFHD)</li>
          <li>Formation aux techniques esthétiques d’injection d’Acide hyaluronique (CID Formation)</li>
          <li>Cycle National de formation continue à la Société Francaise d’Endodontie (SFE)</li>
          <li>Master Class en Hypnose Clinique (Ernest Rossi U.S.A)</li>
          <li>Formation à la prothèse sur implant (SAPO Implant Prothèse)</li>
          <li>Cycles EUMERIA sur la contention fibrée.</li>
        </ul>
        <h2>Engagement</h2>
        <ul class=" mb-5">
          <li>Membre de sociétés savantes</li>
          <li>Membre de la Société Française de Dermatologie (SFD)</li>
          <li> Membre du Groupe de Dermatologie Esthétique et Correctrice (GDEC)</li>
          <li>Membre du Groupe laser de la SFD</li>
          <li>Membre du Groupe chirurgical de la SFD</li>
          <li>Membre de l’Association Française de Médecine morpho-esthétique et anti-âge (AFME)</li>


        </ul>
      </div>
    </div>

  </div>
</section>

