<!-- Departments Section-->
<section>

  <div class="container">
    <div class="row">
      <div class=" d-lg-block"><img class="img-fluid" src="../../../assets/images/mains-cou1.jpg"
                                    alt="doctor"></div>
      <div class=" pb-5 mb-5 prez-container">
        <h1><span>Rajeunissement cou, décolleté et dos des mains</span></h1>
        <h2>Rajeunissement des mains</h2>
        <p>Les mains trahissent bien souvent l’âge et n’échappent pas au vieillissement. La peau devient fine et sèche,
          se
          parsème de tâches et de ridules. Elle subit également une perte de graisse, qui rend de plus en plus visible
          le
          réseau veineux superficiel, les tendons et le squelette osseux.
          <br>
          Selon le problème à traiter, le rajeunissement des mains fait appel à différentes techniques combinées :</p>

        <h3>Traiter les tâches</h3>
        <p>Le docteur Addenet utilise la lampe polychromatique pulsée IPL Duetto, pour faire disparaître les tâches
          pigmentées et améliorer la texture de la peau.

          Pour maintenir un bon résultat, vous devez éviter l’exposition au soleil le premier mois. De 1 à 3 séances
          sont
          nécessaires, qui peuvent être répétées chaque année. Pour éviter les risques de brûlure, votre peau ne doit
          pas
          être bronzée. Après la séance, les tâches sont plus visibles puis disparaissent en une quinzaine de jours.
          Plusieurs fois par jour, vous devez hydrater votre peau avec une crème émolliante.
          <br>
          Prix : 100 euros par séance</p>

        <h3>Repulper le dos des mains</h3>
        <p> Pour remplir les creux inesthétiques, diminuer la visibilité des tendons et des veines, le docteur Addenet
          réalise une injection d’acide hyaluronique au niveau du dos de vos mains.

          L’acide hyaluronique est injecté à l’aide de canule (diminue le risque d’ecchymose) ou en quelques points à
          l’aiguille. Puis pour homogénéiser le résultat, on effectue un massage. L’effet est immédiat et l’injection
          quasi indolore grâce à un anesthésique contenu dans l’acide hyaluronique.
          <br>
          Prix : 300 à 500 euros par séance
        </p>
        <h3>Hydrater la peau des mains</h3>
        <p> Lorsque que la peau est rêche ou fripée la mésothérapie réhydrate vos mains. Le docteur Addenet effectue une
          injection contenant plusieurs produits comme de l’acide hyaluronique, des acides aminés et des vitamines.

          Ce traitement nécessite plusieurs séances espacées d’un mois, puis une séance d’entretien tous les 6 mois.
          <br>
          Prix : 150 à 180 euros par séance


        </p>

        <h2>Rajeunissement du cou et décolleté</h2>
        <p>Le cou et le décolleté subissent les effets du vieillissement lié à l’âge et à l’exposition du soleil. La
          peau
          devient sèche, fripée, fine, des tâches et un érythème (rougeurs, vaisseaux) apparaissent.
          <br>
          Le traitement combinant plusieurs techniques complémentaires donne les meilleurs résultats :</p>
        <ul>
          <li> La mésothérapie avec les injections d’acide hyaluronique améliore les zones “fripée” du cou et du
            décolleté,
            ainsi que leur hydratation.
          </li>
          <li>Pour traiter les tâches rouges et les petits vaisseaux, le docteur Addenet utilise le photo-rajeunissement
            avec
            l’IPL Duetto. Cela permet d’homogénéiser le teint et d’améliorer la texture de votre peau.
          </li>
          <li> La radiofréquence lutte contre le relâchement et donne à votre peau un effet tenseur.</li>
          <li>
            Pour activer la synthèse des fibres de soutien de la peau, le docteur Addenet utilise la mésothérapie avec
            mesoinjecteur automatique U225. Ensuite pour renforcer cette stimulation, votre peau est exposée à une LED.
          </li>
        </ul>


      </div>
    </div>

  </div>
</section>

