<section style="margin-right: 10px; margin-left: 10px">
  <h1 class="text-capitalize flex-center">Nos expertises esthétiques</h1>
  <div class="card-group">
    <div class="card" (click)="naviagetToCase('esthetique/botox')">
      <img src="../../../assets/images/botox1.jpg" class="card-img-top " alt="Hollywood Sign on The Hill"/>

      <h5 class="card-title text-center">Botox</h5>

    </div>
    <div class="card" (click)="naviagetToCase('esthetique/comblement-rides')">
      <img src="../../../assets/images/ride1.jpg" class="card-img-top" alt="Palm Springs Road"/>

      <h5 class="card-title  text-center">Comblement des rides</h5>

    </div>
  </div>
  <div class="card-group">
    <div class="card" (click)="naviagetToCase('esthetique/mesotheraoie')">
      <img src="../../../assets/images/mesotherapie1.jpg" class="card-img-top" alt="Los Angeles Skyscrapers"/>

      <h5 class="card-title text-center">Mésothérapie</h5>

    </div>
    <div class="card" (click)="naviagetToCase('esthetique/peeling')">
      <img src="../../../assets/images/peeling1.jpg" class="card-img-top" alt="Los Angeles Skyscrapers"/>

      <h5 class="card-title text-center">Peeling</h5>

    </div>
  </div>
</section>
