<!-- Opening Hours-->
<section>
  <div class="container">
    <h1 class="text-center"><span class="text-black">Centre De Dermatologie & Esthétique Verdinois</span></h1>
    <div class="row align-items-center">
      <div class="col-md-5" style="margin-bottom: 20px">
        <h2>Contactez-nous</h2>
        <form [formGroup]="formData" (ngSubmit)="onSubmit()">
          <div class="form-group formfield">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email"
                   aria-describedby="emailHelp" placeholder="Adresse email"
                   formControlName="email" style="margin-left: 28px;">
          </div>
          <div class="form-group formfield">
            <label for="fullname">Nom</label>
            <input style="margin-left: 34px;" type="text" class="form-control" id="fullname"
                   placeholder="Nom" formControlName="fullname">
          </div>
          <div class="form-group formfield">
            <label for="firstname">Prénom</label>
            <input type="text" class="form-control" id="firstname"
                   placeholder="Prénom" formControlName="firstname" style="margin-left: 13px;">
          </div>
          <div class="form-group formfield">
            <label for="comment">Message</label>
            <textarea style="margin-left: 5px;" class="form-control" formControlName="comment"
                      id="comment"></textarea>
          </div>
          <button style="align-self: center; margin-top: 10px" type="submit" class="btn btn-primary">Envoyer</button>
        </form>


      </div>
      <div class="col-lg-7">

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2608.8945119853843!2d5.380735375222208!3d49.164610479109754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47eb1c05ef6eb72f%3A0xf249232dade3a59f!2s1%20Av.%20Garibaldi%2C%2055100%20Verdun!5e0!3m2!1sfr!2sfr!4v1687430897885!5m2!1sfr!2sfr"
          width="100%" height="450" style="border:0;" allowfullscreen=""
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>


    </div>
  </div>
</section>

