<section style="margin-right: 10px; margin-left: 10px">
  <h1 class="text-capitalize flex-center"> Nos expertises lasers</h1>
  <div class="card-group">
    <div class="card" (click)="naviagetToCase('lasers/epilation-laser')">
      <img src="../../../assets/images/botox.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
      <div class="card-body">
        <h5 class="card-title">Epilation Laser</h5>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/lazer-visage.jpg" class="card-img-top" alt="Palm Springs Road"/>
      <div class="card-body">
        <h5 class="card-title">Lasers</h5>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/ventre-lazer.jpg" class="card-img-top" alt="Los Angeles Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Cryolipolyse</h5>
      </div>
    </div>
  </div>
</section>
