<section style="margin-right: 10px; margin-left: 10px">
  <h1 class=" flex-center"> Nos expertises lasers</h1>
  <div class="card-group">
    <div class="card" (click)="naviagetToCase('lasers/epilation-laser')">
      <img src="../../../assets/images/laser1.jpg" class="card-img-top " alt="Hollywood Sign on The Hill"/>

      <h5 class="card-title text-center">Epilation Laser</h5>

    </div>
    <div class="card" (click)="naviagetToCase('lasers/couperose-rougeurs-visage')">
      <img src="../../../assets/images/couperose1.jpg" class="card-img-top" alt="Palm Springs Road"/>

      <h5 class="card-title text-center">Couperose et rougeurs visage</h5>

    </div>
    <div class="card" (click)="naviagetToCase('lasers/rajeunissement')">
      <img src="../../../assets/images/mains-cou1.jpg" class="card-img-top" alt="Los Angeles Skyscrapers"/>

      <h5 class="card-title">Rajeunissement cou, décolleté et dos des mains</h5>

    </div>
  </div>
  <div class="card-group">
    <div class="card" (click)="naviagetToCase('lasers/gynecologie-esthetique')">
      <img src="../../../assets/images/gune.jpg" class="card-img-top " alt="Hollywood Sign on The Hill"/>
      <div class="card-body">
        <h5 class="card-title">Gynécologie esthétique et réparatrice</h5>
      </div>
    </div>
    <div class="card" (click)="naviagetToCase('lasers/rejuvenation-vaginalee')">
      <img src="../../../assets/images/vaginalem.jpg" class="card-img-top" alt="Palm Springs Road"/>
      <div class="card-body">
        <h5 class="card-title">Réjuvénation de la muqueuse vaginale</h5>
      </div>
    </div>
    <div class="card" (click)="naviagetToCase('lasers/laser-co2')">
      <img src="../../../assets/images/co2m.jpg" class="card-img-top" alt="Los Angeles Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Traitements laser CO2</h5>
      </div>
    </div>
  </div>
</section>
