<section>
  <div class="row d-flex justify-content-center prez-container">
    <div class="col-md-6">
      <h1> Qui sommes-nous ?</h1>
      <p>Le cabinet Centre De Dermatologie & Esthétique Verdinois a été crée par le Docteur Irina ADDENET qui est un médecin
        spécialiste en dermatologie esthétique et médicale.
        <br>
        <br>
        Elle effectue régulièrement des programmes de formation médicale continue dans les domaines de dermatologie
        esthétique et correctrice, dermatologie médicale, et laser.
        <br><br> Elle participe également à différents congrès, nationaux et internationaux pour rester à la pointe des
        nouveautés.
        <br><br>Elle est une dermatologue conventionné secteur 1, N° d’inscription à l’Ordre des Médecins : 55 1 01259 4
      </p>
    </div>
  </div>

</section>
