<!-- Departments Section-->
<section class=" pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-lg-block"><img style="margin-bottom: 15px" class="img-fluid"
                                            src="../../../assets/images/irina-lazer.jpg" alt="doctor"></div>
      <div class="col-lg-7 pb-5 mb-5">
        <h2 class="text-uppercase"><span>Traitement des poils indésirables par Laser</span></h2>
        <p class="mb-5">Depuis une vingtaine d’années, l’épilation par laser a fait ses preuves. Un traitement laser
          efficace conduit, séance après séance à une diminution très importante de la pilosité
          <br>
          Définition : l’épilation laser est un acte médico-esthétique permettant d’éliminer les poils de manière
          progressive et durable, grâce à l’énergie lumineuse du laser . Cette énergie est captée par le poil et
          transmise par conduction jusqu’à la racine. Le bulbe sera détruit et empêchera ainsi toute nouvelle repousse.
        </p>
          <div class="accordion" id="accordionExample" style="margin-top: 0">
            <div class="card mb-1">
              <div class="card-header p-0" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link py-3 px-4 h6 mb-0" type="button" data-toggle="collapse"
                          data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Les objectifs
                  </button>
                </h2>
              </div>
              <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body bg-light px-4">
        <p>Pour les femmes, en épilation laser des résultats très satisfaisants signifient 80 à 90 % de non repousse, en
          moyenne dans la zone traitée, un an après la fin du traitement principal. Les poils restants sont toujours
          plus clairs et plus fins.
          <br>
          Les cas d’hyperandrogénie / hirsutisme peuvent bien sûr être traités avec succès au laser. Ils requièrent
          cependant plus de séances que la moyenne, et le déséquilibre hormonal doit être corrigé par un médecin
          parallèlement à l’épilation laser.
          <br>
          Pour les hommes, aucune norme ne peut être valablement retenue pour 2 raisons : la testostérone stimule en
          permanence la pousse de poils et le but esthétique des hommes est très variable (au contraire des femmes qui
          souhaitent toutes zéro poil).
          <br>
          Sans oublier qu’une épilation laser ne peut détruire que les poils existants. De nouveaux poils consécutifs à
          un bouleversement hormonal (puberté, grossesse, ménopause…)peuvent survenir au cours de la vie sans que le
          traitement laser suivi auparavant puisse être incriminé.</p>
      </div>
    </div>
  </div>
  <div class="card mb-1">
    <div class="card-header p-0" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed py-3 px-4 h6 mb-0" type="button" data-toggle="collapse"
                data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Qu’est-ce qu’un poil ? Quelle cible ?
        </button>
      </h2>
    </div>
    <div class="collapse show" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body bg-light px-4">
        <p class="text-muted mb-0">Le poil prend naissance au fond du follicule pileux, il se caractérise par sa
          couleur, son type (fin, profond), et son stade de croissance. Le cycle pileux dure de 8 à 18 mois en fonction
          de la zone d’implantation et des caractéristiques de chaque individu.
          <br>
          Le but de l’épilation définitive ou longue durée est de détruire les cellules de reproduction du poil, pour
          empêcher ce dernier de repousser. Ces cellules se situent dans la partie inférieure de la racine du poil,
          c’est à dire dans la matrice au niveau du bulbe (de 3 à 7 mm de profondeur selon la zone corporelle).
          <br>
          L’énergie lumineuse va être absorbée par la mélanine, transformée en chaleur, et transmise le long de la tige
          pilaire jusqu’au fond du follicule pileux. Le but est de détruire par la chaleur les structures du poil, afin
          qu’il ne puisse plus repousser.
          <br>
          Autre élément fondamental en épilation laser : la mélanine. C’est un pigment brun naturel fabriqué par les
          mélanocytes, qui confère une coloration à son environnement et qui est présent à deux endroits :

          <br>  - dans la tige pilaire en particulier dans le cortex, la médulla et dans la matrice au sommet de la
            papille

          <br>  - dans l’épiderme.
<br>


        Tout laser a besoin d’un repère pour atteindre sa cible. Un laser épilatoire s’oriente grâce à la mélanine du
        poil dont la présence est donc indispensable à l’épilation. Un laser ne peut ainsi détruire que des poils
        pigmentés, jamais les poils blancs et plus difficilement les poils clairs.</p>
      </div>
    </div>
  </div>
  <div class="card mb-1">
    <div class="card-header p-0" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed py-3 px-4 h6 mb-0" type="button" data-toggle="collapse"
                data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          Pourquoi a-t-on besoin de plusieurs séances ?
        </button>
      </h2>
    </div>
    <div class="collapse show" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body bg-light px-4">
        <p class="text-muted mb-0">chez les patients jeunes, la pose d’implants est
          contre-indiquée avant la fin de la croissance osseuse. En cas de traumatisme ou
          d’agénésie(s) la contention fibrée permet de remplacer la ou les dent(s)
          manquantes.</p>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
</section>
<!-- Service Section-->
<section class="services">
  <div class="container text-center">
    <div class="row">
      <!-- Services Item-->
      <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
        <div class="card services-item border-0">
          <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
            <h2 class="h6 mb-0 services-item-heading">Consultation</h2>
            <div class="services-icon my-4">

            </div>
            <p class="services-item-text text-small mb-0"> Le patient est reçu en consultation (tarif 23€ sans
              dépassements d’honoraires).
              Cette séance permet de vérifier la faisabilité de la pose de la contention fibrée et le
              temps nécessaire à sa réalisation.
              Un bilan photographique sera réalisé.
              A l’is7/sue de cette consultation, le patient recevra l’ensemble des explications relatives à
              la contention fibrée, le déroulement de la séance de pose, son devis et son suivi
              personnalisé.</p>
          </div>
        </div>
      </div>
      <!-- Services Item-->
      <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
        <div class="card services-item border-0">
          <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
            <h2 class="h6 mb-0 services-item-heading">Pose de la contention </h2>
            <div class="services-icon my-4">
            </div>
            <p class="services-item-text text-small mb-0"> La dépose de l’appareillage orthodontique et de la colle
              (pour les contentions post-
              orthodontiques) est réalisée par nos soins. Un nettoyage minutieux des dents et une
              anesthésie seront effectués.
              La contention fibrée est posée grâce à un protocole de collage rigoureux, sous champ
              opératoire étanche (digue). <br> <br> <br> <br> <br> <br></p>
          </div>
        </div>
      </div>
      <!-- Services Item-->
      <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
        <div class="card services-item border-0">
          <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
            <h2 class="h6 mb-0 services-item-heading">Honoraires</h2>
            <div class="services-icon my-4">

            </div>
            <p class="services-item-text text-small mb-0"> Pour une contention simple de 6 dents, le coût est de 690€.
              Des frais supplémentaires
              pour les composites esthétiques, les soins de lésions carieuses ou les adjonctions de
              dents peuvent s’ajouter et seront mentionnés dans votre devis.
              <br> <br> <br> <br><br> <br> <br> <br></p>
          </div>
        </div>
      </div>
      <!-- Services Item-->
      <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
        <div class="card services-item border-0">
          <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
            <h2 class="h6 mb-0 services-item-heading">Maintenance</h2>
            <div class="services-icon my-4">

            </div>
            <p class="services-item-text text-small mb-0">Un contrôle systématique est effectué 1 an après la pose de la
              contention.
              Toutefois, si des contrôles et ajustements étaient nécessaires durant cette première
              année, ces derniers ne seront pas soumis à honoraires.<br> <br> <br> <br><br> <br> <br> <br> <br></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
