<!-- Departments Section-->
<section class=" pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-lg-block"><img style="margin-bottom: 15px" class="img-fluid"
                                            src="../../../assets/images/irina-lazer.jpg" alt="doctor"></div>
      <div class="col-lg-7 pb-5 mb-5 margin-mobile">
        <h1 class="text-uppercase"><span>Traitement des poils indésirables par Laser</span></h1>
        <p class="mb-5">Depuis une vingtaine d’années, l’épilation par laser a fait ses preuves. Un traitement laser
          efficace conduit, séance après séance à une diminution très importante de la pilosité
          <br>
          Définition : l’épilation laser est un acte médico-esthétique permettant d’éliminer les poils de manière
          progressive et durable, grâce à l’énergie lumineuse du laser . Cette énergie est captée par le poil et
          transmise par conduction jusqu’à la racine. Le bulbe sera détruit et empêchera ainsi toute nouvelle repousse.
        </p>
      </div>
    </div>
    <div>
      <h2>Les objectifs</h2>
      <p>Pour les femmes, en épilation laser des résultats très satisfaisants signifient 80 à 90 % de non repousse, en
        moyenne dans la zone traitée, un an après la fin du traitement principal. Les poils restants sont toujours
        plus clairs et plus fins.

        Les cas d’hyperandrogénie / hirsutisme peuvent bien sûr être traités avec succès au laser. Ils requièrent
        cependant plus de séances que la moyenne, et le déséquilibre hormonal doit être corrigé par un médecin
        parallèlement à l’épilation laser.

        Pour les hommes, aucune norme ne peut être valablement retenue pour 2 raisons : la testostérone stimule en
        permanence la pousse de poils et le but esthétique des hommes est très variable (au contraire des femmes qui
        souhaitent toutes zéro poil).

        Sans oublier qu’une épilation laser ne peut détruire que les poils existants. De nouveaux poils consécutifs à
        un bouleversement hormonal (puberté, grossesse, ménopause…)peuvent survenir au cours de la vie sans que le
        traitement laser suivi auparavant puisse être incriminé.
      </p>
      <h2>Qu’est-ce qu’un poil ? Quelle cible ?</h2>
      <p>Le poil prend naissance au fond du follicule pileux, il se caractérise par sa couleur, son type (fin,
        profond),
        et son stade de croissance. Le cycle pileux dure de 8 à 18 mois en fonction de la zone d’implantation et des
        caractéristiques de chaque individu.
        <br>
        Le but de l’épilation définitive ou longue durée est de détruire les cellules de reproduction du poil, pour
        empêcher ce dernier de repousser. Ces cellules se situent dans la partie inférieure de la racine du poil,
        c’est
        à dire dans la matrice au niveau du bulbe (de 3 à 7 mm de profondeur selon la zone corporelle).
        <br>
        L’énergie lumineuse va être absorbée par la mélanine, transformée en chaleur, et transmise le long de la tige
        pilaire jusqu’au fond du follicule pileux. Le but est de détruire par la chaleur les structures du poil, afin
        qu’il ne puisse plus repousser.
        <br>
        Autre élément fondamental en épilation laser : la mélanine. C’est un pigment brun naturel fabriqué par les
        mélanocytes, qui confère une coloration à son environnement et qui est présent à deux endroits :

        dans la tige pilaire en particulier dans le cortex, la médulla et dans la matrice au sommet de la papille
        dans l’épiderme.
        <br>Tout laser a besoin d’un repère pour atteindre sa cible. Un laser épilatoire s’oriente grâce à la mélanine
        du
        poil dont la présence est donc indispensable à l’épilation. Un laser ne peut ainsi détruire que des poils
        pigmentés, jamais les poils blancs et plus difficilement les poils clairs.</p>

      <h2>Pourquoi a-t-on besoin de plusieurs séances ?</h2>
      <p> Pendant la phase anagène la racine du poil est attaché au poil. Tandis que pendant les phases catagène et
        télogène elle ne l’ai plus.

        Le nombre de séances dépend de : la zone à épiler, le phototype et le taux de pilosité de chaque patient. En
        général, 6 à 10 séances espacées de 4 à 8 semaines sont nécessaires pour éliminer durablement l’intégralité
        des
        poils de la surface traitée.

        Le principe de base de l’épilation laser est la photothermolise sélective : l’énergie lumineuse du rayon est
        absorbée uniquement par la substance cible, la mélanine, responsable de la pigmentation du poil, des cheveux
        et
        de la peau. Plus un poil contient de la mélanine, plus le laser sera efficace. C’est la raison pour laquelle
        les
        poils blanc, gris et blond clair n’offrent pas de bonne indication pour l’épilation laser. Pour ce type de
        poils, le cabinet du docteur Addenet peut vous proposer de l’électrolyse par exemple.

        Comme la mélanine est aussi présente dans la peau, lorsqu’elle monte en surface sous l’effet du soleil, on
        s’expose à un risque de brûlure. Par conséquence, il est fortement contre indiqué de traiter les peaux
        bronzées.

        En revanche, pour les peaux mattes à noires, il existe des lasers adaptés qui permettent de préserver
        l’épiderme, comme le laser ND;Yag.

        Notons que l’épilation laser est un acte médical. Cet acte doit être obligatoirement pratiqué par un
        spécialiste
        et dans un centre entièrement médicalisé.</p>

      <h2>Contre-indications</h2>
      <p> L’épilation au laser se pratique sur une peau non bronzée et l’exposition au soleil doit être évitée au
        moins
        pendant 2 semaines après la séance.
        A partir du 6ème mois de grossesse, on évite cette technique pour votre confort.

        Un mois avant le début des séances et entre chaque séances de laser, vous devez arrêter l’épilation à la
        pince, à la cire et à l’épilateur électrique.
      </p>
      <h2>Effets secondaires</h2>
      <p>
        - Sensation de coup de soleil (quelques heures après la séance)
        - Rougeurs et gonflements (1 à 24 heures)
        - Petites croûtes exeptionnelles
        - Tâches brunes ou claires (quelques mois)

      </p>


      <h2>Traitement</h2>
      <p>Deux à trois jours avant l’intervention, vous devez rasez la zone à traitée pour que la peau ne soit pas
        irritée
        et que l’émergence des poils soit visible.
        Le jour de l’épilation au laser, vous porterez des lunettes de protection et si vous le souhaitez, 2 heures
        avant, vous pouvez appliquer une crème anesthésiante localement.
        Lors de l’impulsion lumineuse, vous ressentirez une sensation de chauffe et de picotements. Pour diminuer ces
        désagréments, un système à air froid est utilisé pour refroidir l’épiderme.
        Le gonflement et la rougeur obtenus sont les preuves de l’efficacité du traitement et se dissipent en
        quelquesheures.</p>

    </div>
  </div>
</section>
