<section style="margin-right: 10px; margin-left: 10px">
  <div class="card-group">
    <div class="card">
      <img src="../../assets/images/botox.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
      <div class="card-body">
        <h5 class="card-title">Esthétique</h5>
        <ul>
          <li> <a href="/">Botox</a></li>
          <li> <a href="/">Comblement des rides</a></li>
          <li> <a href="/">Mésothérapie</a></li>
          <li> <a href="/">Peelings</a></li>
        </ul>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/lazer-visage.jpg" class="card-img-top" alt="Palm Springs Road"/>
      <div class="card-body">
        <h5 class="card-title">Lasers</h5>
        <ul>
          <li> <a href="/">Épilation laser</a></li>
          <li> <a href="/">Couperose et rougeurs visage</a></li>
          <li> <a href="/">Rajeunissement cou, décolleté et dos des mains</a></li>
          <li> <a href="/">Gynécologie esthétique et réparatrice</a></li>
          <li> <a href="/">Réjuvénation de la muqueuse vaginalee</a></li>
          <li> <a href="/">Traitements laser CO2</a></li>
        </ul>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/ventre-lazer.jpg" class="card-img-top" alt="Los Angeles Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Cryolipolyse</h5>
        <ul>
          <li> <a href="/">Cryolipolyse</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
