<section style="margin-right: 10px; margin-left: 10px">
  <div class="card-group">
    <div class="card">
      <img src="../../assets/images/botox.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>

      <h5 class="card-title text-center">Esthétique</h5>

      <ul class="list-group list-group-light list-group-small text-center">
        <li class="list-group-item px-4"><a href="esthetique/botox">Botox</a></li>
        <li class="list-group-item px-4"><a href="esthetique/comblement-rides">Comblement des rides</a></li>
        <li class="list-group-item px-4"><a href="esthetique/mesotheraoie">Mésothérapie</a></li>
        <li class="list-group-item px-4"><a href="esthetique/peeling">Peelings</a></li>
      </ul>

    </div>
    <div class="card">
      <img src="../../assets/images/lazer-visage.jpg" class="card-img-top" alt="Palm Springs Road"/>

      <h5 class="card-title text-center">Lasers</h5>
      <ul class="list-group list-group-light list-group-small text-center">
        <li class="list-group-item px-4"><a href="lasers/epilation-laser">Épilation laser</a></li>
        <li class="list-group-item px-4"><a href="lasers/couperose-rougeurs-visage">Couperose et rougeurs visage</a></li>
        <li class="list-group-item px-4"><a href="lasers/rajeunissement">Rajeunissement cou, décolleté et dos des mains</a></li>
        <li class="list-group-item px-4"><a href="lasers/gynecologie-esthetique">Gynécologie esthétique et réparatrice</a></li>
        <li class="list-group-item px-4"><a href="lasers/rejuvenation-vaginalee">Réjuvénation de la muqueuse vaginalee</a></li>
        <li class="list-group-item px-4"><a href="lasers/laser-co2">Traitements laser CO2</a></li>
      </ul>

    </div>
    <div class="card">
      <img src="../../assets/images/ventre-lazer.jpg" class="card-img-top" alt="Los Angeles Skyscrapers"/>

      <h5 class="card-title text-center">Cryolipolyse</h5>
      <ul class="list-group list-group-light list-group-small text-center">
        <li class="list-group-item px-4"><a href="/cryolipolyse">Cryolipolyse</a></li>
      </ul>

    </div>
  </div>
</section>
