<!--Main Navigation-->
<header class="intro-header">
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" *ngIf="!classBackground">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"> <img width="250px"
                                                                             src="../assets/images/black-logo-trans.png"
                                                                             alt="logo" class="logo logo-image"></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" href="">Accueil<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="le-cabinet">Le cabinet</a>
        </li>

        <li class="nav-item waves-light dropdown" mdbWavesEffect>
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink1"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Préstations
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1" style="margin-top: 300px">
            <li>
              <a class="dropdown-item" href="#">Action</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another action</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/prix">Prix</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/contact">Contacts</a>
        </li>
      </ul>
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Recherche" aria-label="Rechercher">
        </div>
      </form>
    </links>
  </mdb-navbar>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top top-nav-collapse" *ngIf="classBackground">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"> <img width="250px"
                                                                             src="../assets/images/black-logo-trans.png"
                                                                             alt="logo" class="logo logo-image"></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/le-cabinet">Le cabinet</a>
        </li>
        <li class="nav-item waves-light dropdown" mdbWavesEffect>
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Préstations
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="margin-top: 300px">
            <li>
              <a class="dropdown-item" href="#">Action</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another action</a>
            </li>
            <li>
              <a class="dropdown-item" href="/">Something else here</a>
            </li>
          </ul>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/prix">Prix</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/contact">Contacts</a>
        </li>
      </ul>
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Recherche" aria-label="Rechercher">
        </div>
      </form>
    </links>
  </mdb-navbar>
  <!-- Intro Section -->
</header>

<router-outlet></router-outlet>

<app-footer></app-footer>
<!--Main Navigation-->
