<!--Main Navigation-->
<header class="intro-header">
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" *ngIf="!classBackground">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"> <img width="250px"
                                                                             src="../assets/images/black-logo-trans.png"
                                                                             alt="logo" class="logo logo-image"></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" href="">Accueil<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="a-propos">À propos</a>
        </li>

        <li mdbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button"
             mdbDropdownToggle aria-expanded="false">
            Nos traitements
          </a>
          <ul *mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="lasers">Lasers</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Esthétique</a>
            </li>
            <li>
              <a class="dropdown-item" href="/cryolipolyse">Cryolipolyse</a>
            </li>
          </ul>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/prix">Prix</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/contact">Contacts</a>
        </li>
      </ul>
      <a class="btn text-white" style="background-color: transparent;" href="https://www.doctolib.fr/dermatologue/verdun/irina-addenet" role="button">
        Prendre Un Rendez-Vous
      </a>
    </links>
  </mdb-navbar>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top top-nav-collapse" *ngIf="classBackground">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"> <img width="250px"
                                                                             src="../assets/images/black-logo-trans.png"
                                                                             alt="logo" class="logo logo-image"></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="a-propos">À propos</a>
        </li>
        <li mdbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink2" role="button"
             mdbDropdownToggle aria-expanded="false">
            Nos traitements
          </a>
          <ul *mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <li>
              <a class="dropdown-item" href="/lasers">Laser</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Esthétique</a>
            </li>
            <li>
              <a class="dropdown-item" href="/cryolipolyse">Cryolipolyse</a>
            </li>
          </ul>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/prix">Prix</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="/contact">Contacts</a>
        </li>
      </ul>
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Recherche" aria-label="Rechercher">
        </div>
      </form>
    </links>
  </mdb-navbar>
  <!-- Intro Section -->
</header>

<router-outlet></router-outlet>

<app-footer></app-footer>
<!--Main Navigation-->
