<!-- Departments Section-->
<section class="pb-0">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-lg-block"><img class="img-fluid" src="../../../assets/images/couperose1.jpg"
                                            alt="doctor"></div>
      <div class="col-lg-7 pb-5 mb-5">
        <h1 class="text-uppercase"><span>Couperose et rougeurs visage</span></h1>
        <p>La couperose est une dilatation des vaisseaux de la face responsable de rougeur des joues mais aussi parfois de tout le visage. Elle peut s’aggraver avec les changements de température, le stress, les émotions, la consommation d’alcool ou les aliments épicés. C’est une affection courante qui s’agrave progressivement au cours de la vie s’accompagnant parfois de bouffées de chaleur, et qui survient sur les peaux fines et claires.

          La couperose commence par un érythrose (rougeur du visage), puis peut se compliquer par des poussées de rosacée avec l’apparition de pustules.

          Aujourd’hui, les lasers vasculaires sont les traitements les plus efficaces pour la prise en charge de la couperose et des rougeurs du visage. La lumière va être absorbée par l’hémoglobine des vaisseaux rouges dilatés de votre visage, et va entraîner leur disparition progressive sans abîmer votre peau.

          Nous utilisons deux sortes de lasers :
<br>
          - le laser ND; YAG <br>
          - l’IPL Duetto
        </p>
        <h2>Déroulement d’une séance</h2>
          Votre peau doit être parfaitement démaquillée et non bronzée. Il faut éviter toute exposition au soleil durant le premier mois. Vous porterez des lunettes de protection. La durée d’une séance varie de 10 à 20 minutes.
          La séance n’est pas ou peu douloureuse, vous ressentirez une légère sensation de brûlure.

        <h2>Précautions</h2>
          Durant les heures qui suivent la séance, la sensation de chaleur et la rougeur disparaîtront progressivement. Pour atténuer cette sensation, le docteur Addenet vous appliquera une crème apaisante et des compresses froides.

          Le traitement par laser nécessite 1 à 3 séances espacées de 6 à 8 semaines pour obtenir un résultat satisfaisant. La maladie continuant d’évoluer, le dr Addenet préconise de refaire des séances d’entretien tous les 2 ou 3 ans pour maintenir le bénéfice souhaité.

        <h2>Prix</h2>
          A partir de 150 euros.
      </div>
    </div>

  </div>
</section>

