<!-- Departments Section-->
<section class="pb-0">

  <div class="container">
    <div class="row">
      <div class="d-lg-block"><img class="img-fluid" src="../../../assets/images/mesotherapie1.jpg"
                                   alt="doctor"></div>
      <div class="prez-container">
        <h1><span>Mésothérapie / Mesolift</span></h1>
        <p>La mésothérapie en dermatologie esthétique permet de réhydrater la peau, d’améliorer l’éclat du teint et les
          imperfections cutanées (ridules, peaux fines et sèches). La technique appelée mésolift se pratique comme un
          soin de revitalisation, efficace sur le visage mais aussi sur le cou, le décolleté et les mains.

          Le traitement consiste à administrer sous forme de multiples injections, un mélange nutritif et revitalisant ;
          soit à base d’acide hyaluronique associé à des vitamines et des minéraux, soit à base d’acide hyaluronique
          légèrement « réticulé » appelé skinbooster.

          La mésothérapie est un soin unique, qui permet de matelasser une peau atrophiée ; et surtout de rester plus
          belle plus longtemps.
        </p>
        <h2>Déroulement des injections</h2>
        L’injection est très superficielle. Le docteur Addenet utilise un auto-injecteur automatique U225 qui rend le
        traitement quasi indolore. Vous pourrez effectuer des massages qui permet de bien faire diffuser le produit
        hydratant dans la peau.
        Une séance dure de 15 à 30 minutes.
        Quelques rougeurs, hématomes, gonflements aux points d’injection : ces effets durent de 48 à 72 heures.
        Il faut prévoir 3 ou 4 séances espacées de 15 jours à 1 mois, puis une séance d’entretien tous les 4 à 6 mois.
        L’exposition au soleil est à éviter dans les jours qui suivent les injections.
        Les résultats peuvent être visibles dès la 1ère séance.

        <h2>Contre-indications</h2>

        - Grossesse et allaitement<br>
        - Précautions d’emploi en cas de maladie auto-immune<br>
        - Infection cutanée au site d’injection<br>
        <h2>Prix</h2>
        A partir de 150 euros par séance.
      </div>
    </div>

  </div>
</section>

