<section class="prez-container">

  <div class="container">
    <div class=" d-lg-block"><img class="img-fluid" src="../../assets/images/equipe.jpg"
                                  alt="doctor" style="margin-bottom: 30px"></div>
    <div class="row">
      <h1>Première consultation esthétique</h1>
      <p> La première consultation esthétique est essentielle, c’est l’occasion de connaître vos demandes et vos
        doléances, ainsi que votre passé médical, chirurgical et esthétique.
        Elle permet de réaliser une analyse du vieillissement, des possibilités thérapeutiques et à répondre à toutes
        vos questions.
        <br>Le Docteur Addenet établis avec vous un plan de traitement personnalisé prenant en compte : </p>
      <ul>
        <li>l’aspect de votre peau (tâches, imperfections, déshydratation, apparition de rides et ridules)</li>
        <li>l’expressivité de votre visage (rides d’expression)</li>
        <li>la perte éventuelle de volume et relâchement cutané</li>
      </ul>
      <p>Au cours de cette première consultation, des photographies seront réalisées.
        Le Dr Addenet vous proposera un plan de traitement personnalisé, et vous expliquera les modalités ainsi que les
        suites de ce dernier.
        <br>Les différents traitements pouvant être combinés afin d’obtenir des résultats naturels et personnels en
        toute sécurité : comblements, botox, peelings, épilation laser…
        <br>Et pour finir, différents documents vous seront remis, tel qu’un consentement éclairé, une fiche
        d’information ainsi qu’un devis détaillé.</p>
    </div>

  </div>
</section>

