<!-- Departments Section-->
<section class="pb-0">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-lg-block"><img class="img-fluid" src="../../../assets/images/ride.jpg"
                                            alt="doctor"></div>
      <div class="col-lg-7 pb-5 mb-5">
        <h1 class="text-uppercase"><span>Comblement des rides (Acide Hyaluronique)</span></h1>
        <p>L’acide hyaluronique, également appelée « AH », est un élément présent de manière tout à fait naturelle dans notre organisme. Il a un pouvoir exceptionnel d’hydratation, d’élasticité et de cohésion. Avec l’âge, sa quantité et sa qualité diminue progressivement.
          L’acide hyaluronique fût découvert en 1934 ; depuis 20 ans on l’utilise principalement pour le comblement des rides et pour corriger l’aspect de la peau en général.
          Ce qui permet d’obtenir différentes qualités du produit, ce sont les chaines d’AH qui sont liées entre elles, on appelle ce procédé la réticulation.
          Indications
          La taille des molécules d’acide Hyaluronique varie selon les indications, selon le type de corrections à faire. L’AH sera plus ou moins réticulé ou concentré pour une simple hydratation (mesolift), pour un traitement des rides et jusqu’à la restructuration des volumes.

          – Acide hyaluronique fortement réticulé ou concentré : pour restaurer un volume perdu, de remodeler les traits et contours du visage (pommettes, temps, joues, cernes).
          – Acide hyaluronique concentré : pour combler les rides des sillons naso-géniens, les plis d’amertume, les rides jugales, cicatrices, et de reconstituer certains reliefs.
          – Acide hyaluronique faiblement réticulé ou concentré: pour les fines rides du pourtour des lèvres et des yeux, et pour réhydrater la peau et prévenir le vieillissement.

         <h2>Déroulement des injections</h2>
          Il existe deux sortes de techniques d’injections : soit rétro-traçante (selon une technique d’éventail), soit points par points. Le dr Addenet vous proposera la meilleure technique selon votre type de correction choisi.
<br>

          Il existe également deux sortes de moyens d’injections :
          <br>
          – La micro-canule : à partir d’un seul point d’entrée, la micro-canule peut traiter toute une zone. Vous ne ressentez quasiment pas de douleur, il y a peu d’hématomes, et réduit la période d’éviction sociale.<br>
          – L’aiguille fine : c’est l’injection pour le traitement des fines ridules, ce qui permet un travail plus superficiel. Ce moyen augmente le risque d’ecchymoses.

         <h2>Précautions</h2>
          – Précautions à prendre deux semaines avant l’injection : vous devez éviter de prendre certains médicaments, comme l’aspirine, des anti-inflammatoires non stéroïdiens et de la vitamine C, et des compléments alimentaires à base d’oméga 3. Si vous avez des poussées d’herpès nasolabial fréquemment, merci de le signaler au dr Addenet. Pour limiter les hématomes et les œdèmes, nous pouvons vous conseiller un traitement homéopathique.
          <br>– Précaution à prendre le jour de l’injection : Si vous présentez un processus inflammatoire (éruption, vésicule, pustule, urticaire…), le dr Addenet reportera votre injection jusqu’à votre totale guérison. Pour votre bien-être, nous pouvons vous proposez une anesthésie locale (soit par crème, soit par injection). Toutefois, on trouve déjà un anesthésiant dans les produits de comblement des rides et l’utilisation des micro-canules rend l’injection quasi-indolore.
          <br>– Précautions à prendre après les injections : Éviter la prise d’alcool et les anti-inflammatoires dans les heures précédant les injections. Éviter toutes activités sportives, le sauna, le hammam, les expositions au soleil, les soins dentaires et les nettoyage de peau. N’effectuez pas de massage trop forts au niveau du visage.

        <h2>Résultats</h2>
          A l’issue de l’injection, on voit déjà un beau résultat. Il faudra patienter 10 à 15 jours pour voir les réels bénéfices. Plusieurs séances sont parfois nécessaires, le dr Addenet vous proposera une visite de contrôle pour ajuster les résultats, en pratiquant, si besoin, des injections complémentaires. Il faudra attendre un minimum de 2 semaines entre chaque séance.

          Contre indications
          Par mesure de précaution, on ne pratiquera pas d’injections d’AH chez la femme enceinte ou allaitante. Il existe des contre-indications aux injections d’acide hyaluronique, notamment un terrain allergique important évolutif, lors de poussées sévères (asthmes, eczéma). Les personnes présentant certaines maladies auto-immunes, de maladies granulomateuse, de sarcoïdose sont exclus de pratiquer de telles injections. Et pour finir
          les personnes qui ont déjà subies des injections antérieures de produits non dégradables, en raison du risque important d’apparition de granulomes.

          Effets indésirables
          Immédiatement après le traitement, une légère rougeur, un œdème, une sensibilité de la peau peuvent survenir. Ces différents effets disparaissent au bout de quelques heures, voire quelques jours. Des petits hématomes peuvent apparaître, ils seront masqués par du maquillage et des poches de glaces peuvent les atténuer.
          La durée d’injection peut varier de 6 à 18 mois, selon la nature de la peau, du stade de vieillissement, du mode de vie (stress, soleil, tabac…), et de chaque individu. Une fiche de traçabilité du produit vous est remis, lors de chaque injection.

        <h2>Prix</h2>
          À partir de 300 euros par séance.

          A la fin de la consultation et de l’échange avec le dr Addenet, un devis avec un plan de traitement sera établi et vous sera remis.
      </div>
    </div>

  </div>
</section>

