<div class="view jarallax" data-jarallax='{"speed": 0.2}'
     style="background-image:linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(14, 1, 11, 0.73)), url('../../assets/images/home2.jpg');  background-repeat: no-repeat;background-size: cover">
  <div class="full-bg-img mask rgba-black-light">
    <div class="container flex-center">
      <div class="row pt-5 mt-3 w-100">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s">
              <strong>Centre De Dermatologie & Esthétique Verdinois</strong></h2>
            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
            <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Dr Irina Addenet</strong>
            </h5>
            <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
               mdbWavesEffect href ="/a-propos">Le cabinet</a>
            <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" href="/contact"
               mdbWavesEffect>Contacts</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-who-are-we></app-who-are-we>
<app-offers-cards></app-offers-cards>
